body {
  margin: 0;
  padding: 0;
}

.bd{
}

ul {
  list-style: none;
}

a {
  color: #666;
}

.fl {
  float: left;
  display: inline-block;
}

.fr {
  float: right;
  display: inline-block;
}

.mr4w {
  margin-right: 4vw;
}

.content {
  overflow-x: hidden;
  margin-top: 14vw;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.nav {
  height: 6vw;
  width: 94vw;
  padding: 4vw 3vw;
  border-bottom: 1px solid #ddd;
  font-size: 4vw;
  line-height: 6vw;
  background-color: #fff;
  position: fixed;
  top: 0;
}

.nav h3 {
  font-weight: normal;
  text-align: center;
  line-height: 6vw;
}

.nav .goback {
  position: absolute;
  left: 3vw;
}

.nav .goback img {
  width: 2.5vw;
  margin-right: 2vw;
  display: inline-block;
}

.content {
  width: 94vw;
  padding: 0 3vw 10vw;
}

.content .info {
  overflow-y: auto;
  padding: 3vw 0;
  border-bottom: 1px solid #ddd;
}

.content .info img {
  float: left;
  width: 24vw;
  height: 32vw;
}

.content .info .info_text {
  float: left;
  margin-left: 3vw;
}

.info_text .title {
  font-size: 4.3vw;
  color: #1ebfff;
}

.info_text .year {
  font-size: 3.7vw;
  margin-top: 3vw;
  color: #3b3b3b;
}

.info_text .stage {
  font-size: 4vw;
  margin-top: 4vw;
  color: #ff9c00;
}

.content .exam {
  clear: both;
}

.content .exam ul {
  width: 98vw;
}

.content .exam h3 {
  font-size: 4vw;
  font-weight: normal;
  padding: 0 0 0 3vw;
  border-left: 4px solid #1ebfff;
  margin: 2vw 0;
}

.content .exam li>ul{
  margin: 2vw 0;
  overflow-y: auto;
}

.content .exam>li li {
  float: left;
  margin: 2vw 3vw 2vw 0;
  border: 1px solid #ddd;
  border-radius: 1vw;
  text-align: center;
}

.content .exam>li li.disabled a{
  color: #cccccc;
}

.content .exam>li {
  clear: both;
}

.content .exam a {
  padding: 1vw 0;
  color: #333;
  width: 15vw;
  display: inline-block;
  font-size: 4vw;
}

.weui-dialog {
  width: 80vw;
  max-width: 80vw;
}

.weui-dialog__title,.weui-dialog__ft{
  font-size: 4vw;
}
.weui-dialog__ft{
  line-height: 12vw;
}

/*fav*/

body.fav {
  background-color: #f5f8fa;
}

.fav .content {
  width: 100vw;
  padding: 0;
}

.fav .item {
  margin-bottom: 2vw;
  background-color: #fff;
  padding: 1vw 3vw;
  border-bottom: 1px solid #ddd;
}

.fav .item h3 {
  font-size: 3.7vw;
  font-weight: normal;
  padding: 1vw 0 2vw;
}

.fav .item h3 a {
  color: #333;
}

.fav .item div {
  width: 94vw;
  background-color: #eee;
  /*height: 30vw;*/
  /*border: 1px solid #ddd;*/
  overflow: hidden;
}

.fav .item div img{
  max-width: 100%;
  float: left;
}

.fav .item p {
  padding: 2vw 0 1vw;
  font-size: 3.5vw;
}

.fav .item .time {
  color: #666;
}

.fav .item .del {
  float: right;
  color: #333;
}


/*selectVer*/

.select_ver .nav {
  background-color: #f5f8fa;
}

.select_ver h3 {
  font-size: 4.3vw;
  font-weight: normal;
}

.nav .close {
  display: inline-block;
  position: absolute;
  right: 3vw;
}

.nav .close img {
  width: 5vw;
}

.select_ver .class {
  width: 94vw;
  padding: 3vw;
}

.select_ver .class>li {
  clear: both;
  overflow-y: auto;
  padding-bottom: 5vw;
}

.select_ver .class h3 {
  color: #666;
  font-size: 4vw;
  padding: 2vw 0;
}

.select_ver .class li li {
  padding: 2vw 0;
  width: 43vw;
  text-align: center;
  float: left;
  border: 1px solid #ddd;
  margin: 2vw 0;
  border-radius: 1vw;
  font-size: 4vw;
  margin-right: 3vw;
}

.select_ver .bottom_btn {
  text-align: center;
}

.select_ver .bottom_btn button {
  height: 10vw;
  width: 60vw;
  border-radius: 5vw;
  border: none;
  background-color: #1ebfff;
  font-size: 4.3vw;
  color: #fff;
}

.select_ver .class li.selected {
  border-color: #1ebfff;
  background: url("../images/selectednj.png") right bottom no-repeat;
  background-size: 7vw;
  overflow: hidden;
}


/*jtsl*/

.nav .nj {
  float: left;
}

.nav .fav {
  display: inline-block;
  position: absolute;
  right: 3vw;
}

.nav .fav img {
  width: 6vw;
}

.jtsl .content {
  width: 100vw;
  padding: 0;
}

.jtsl .stage ul {
  margin-left: 3vw;
}

.jtsl .stage h3 {
  background-color: #f5f8fa;
  font-size: 4.3vw;
  color: #1ebfff;
  font-weight: normal;
  line-height: 8vw;
  padding: 0 3vw;
}

.jtsl .stage>li {
  clear: both;
  padding-bottom: 3vw;
  overflow-y: auto;
}

.jtsl .stage a.more {
  float: right;
  font-size: 3.7vw;
  color: #999;
}

.jtsl .stage ul>li {
  float: left;
  width: 20vw;
  padding: 1vw 0;
  border: 1px solid #ddd;
  border-radius: 1vw;
  text-align: center;
  font-size: 4vw;
  color: #555;
  margin: 3vw 2.7vw 0 0;
}

.jtsl .new {
  background: url("../images/new.png") left top no-repeat;
  background-size: 7vw;
}

.jtsl .weui-dialog__bd {
  height: 20vw;
}

.jtsl .weui-dialog__bd label {
  width: 20vw;
  float: left;
  display: block;
  padding: 1vw 0 2vw;
  font-size: 4.3vw;
}

.jtsl .weui-dialog__bd p {
  overflow: auto;
  padding: 1vw 0;
}

.jtsl .weui-dialog__bd p span {
  border: 1px solid #ddd;
  border-radius: 1vw;
  display: block;
  float: left;
  max-width: 44vw;
  overflow: hidden;
}

.jtsl .weui-dialog__bd p select {
  padding: 1vw 2vw 2vw;
  border: none;
  border-radius: 1vw;
  font-size: 4.3vw;
  outline: none;
}

.jtsl .nj {
  padding-right: 4vw;
  background: url("../images/downlist.png") no-repeat right center;
  background-size: 3vw;
}


/*tmnr dtda*/

.tmnr .content {
  padding-bottom: 20vw;
}

.pages {
  width: 100vw;
  height: 15vw;
  background-color: #f5f8fa;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #dedede;
}

.swiper-container {
  height: 15vw;
  line-height: 15vw;
  width: 80vw;
  overflow: hidden;
  margin-left: 10vw;
  position: static;
  font-size: 4vw;
}

.selected {
  color: #1ebfff;
}

.swiper-slide {
  text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
  margin-top: -3vw;
  height: 6vw;
  width: 8vw;
}

.zoon_ico,
.fav_ico {
  display: block;
  background: url("../images/zoomin.png") left center no-repeat;
  background-size: 5vw;
  padding-left: 6vw;
  float: right;
}

.fav_ico {
  margin-left: 4vw;
  background-image: url("../images/favmin.png");
}

.fav_f.fav_ico{
  background-image: url("../images/favmin-f.png");
}

.content p {
  overflow: auto;
}

.tmnr .jt,
.sq {
  padding-right: 4vw;
  background: url("../images/jt.png") right center no-repeat;
  background-size: 3vw;
  color: #1ebfff;
  float: right;
  font-size: 3.7vw;
  padding: 2vw 4vw;
  display: inline-block;
}

.sq {
  background-image: url("../images/sq.png");
}

.content .wt,
.content .da {
  margin-top: 5vw;
}

.content .wt img,
.content .da img {
  width: 100%;
}

.dtda .da.selected {
  border: 1px dashed red;
}

.dtda .jte {
  height: 46vw;
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100vw;
  text-align: center;
  color: #fff;
}

.dtda p{
  font-size: 4vw;
}

.dtda .jte img {
  width: 18vw;
  margin-top: 10vw;
}

.dtda .close {
  position: absolute;
  right: 3vw;
  top: 3vw;
  width: 5vw;
  height: 5vw;
}

.dtda .close img {
  width: 100%;
  margin-top: 0;
}

.dtda .content{
  padding-bottom: 20vw;
}
